<div class="container w-100" dir="rtl">
  <div class="row">
    <div class="col-lg-12 mb-4" *ngFor="let publisher of filteredPublishers">
      <div class="card" [routerLink]="['/books-related', publisher.id]">
        <div class="container-card bg-green-box p-3">
          <div class="row align-items-center">
            <div class="col-2 h-100">
              <img [src]="publisher.imageUrl" alt="{{ publisher.name }}" class="img-fluid rounded-5">
            </div>
            <div class="col-8">
              <p class="card-title">{{ publisher.name }}</p>
              <p class="card-description" >يتواجدون في صالة : {{ publisher.blockName }}</p>
              <p class="card-description" >صدر عن الدار : {{ publisher.numberOfBooks }} كتاب </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container w-50 d-flex justify-content-center mt-5">
  <ul class="pagination">
    <li *ngIf="pageNo > 1">
      <a (click)="onPageChange(pageNo - 1)">السابق</a>
    </li>
    <li *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="pageNo === i + 1">
      <a (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
    </li>
    <li *ngIf="pageNo < totalPages">
      <a (click)="onPageChange(pageNo + 1)">التالي</a>
    </li>
  </ul>
</div>


