.h-100.h-custom {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  border: none;
  border-radius: 15px;
}

.container{
  margin-top: 7%;
}

.card-body {
  padding: 1.5rem;
}

.card img {
  width: 65px;
  height: auto;
  border-radius: 15px;
}

.card .btn {
  border-radius: 10px;
}

.card .form-control {
  border-radius: 10px;
  border: 1px solid #ccc;
}

.card .form-label {
  color: #fff;
  
}

.card .form-outline .form-control {
  color: #fff;
  background-color: #f3a470;
}

.card .form-outline .form-control::placeholder {
  color: #8b8686;
}

.card .form-outline .form-control:focus {
  color: #fff;
  background-color: rgba(187, 2, 2, 0.1);
  box-shadow: none;
}

.card .form-outline.form-white .form-label {
  color: #ccc;
}

.card .btn-info {
  background-color: #ff751a;
  border-color: #ff751a;
}

.card .btn-info:hover {
  background-color: #f0bf9e;
  border-color: #ff751a;
}

.card .btn-info .d-flex {
  justify-content: space-between;
  align-items: center;
}

.card .btn-info .d-flex span {
  display: inline-block;
}

  .modal-content{
    position: absolute;
    height:2px ;
    width:200px ;
    margin-top: 100px;
    text-align: right;

  }
  .modal-header{
  text-overflow: initial;
  }
  .modal-body img {
    padding: 0;
   position: relative;
    max-width: 200px;
    height:150px;
 
  }

  .modal-dialog{
    height:100px ;
    width: 100px;
  }



@media (max-width: 768px) {
  .card img {
    width: 45px;
  }

  .card .form-control {
    font-size: 0.9rem;
  }

  .card .btn-info {
    font-size: 0.9rem;
  }

  .card .btn-info .d-flex span {
    font-size: 0.9rem;
  }
}
