
.text-center{
    margin: 90px;
}
.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
  .card-img-top {
    width: 355px;
    height: 300px;
  }
