body,
html {
  
	height: 100vh;
	display: grid;
	background: #d83565;
	color: black;
	font-size: 14px;
	letter-spacing: 0.1em;
}

h2, h3 {
    line-height: 1.8;
    color: #ff751a;
    font-size: 24px; 

}

p, li{
    line-height: 1.8;
    font-size: 24px;
}
img{
    margin-top:55px;

}


.btn{
    background-color:#ff751a;
    border-color:#ff751a;

}