<!-- Explanation of Book Fair -->
<div class="container-fluid description" id="section1">
    <div class="row mb-3 p-3">
        <div class="col-md-8 col-l-6 d-flex justify-content-end align-items-center animate-text">
            <div class="row">
                <!-- Ticket Information Section -->
                <section class="ticket-info-section m-5" dir="rtl">
                    <div class="container-fluid m-5">
                        <div class="row">
                            <div class="col-md-12 m-0 ">
                                <h2>مرحباً يا صديقي</h2>
                                <p>نحن الجمعية التعاونية المصرية للمتطوعين</p>
                                <p>تزامناً مع معرض القاهرة الدولي للكتاب، أدعوك للتعرف على مبادرة "خذ كتاب وضع كتاب". للتعرف أكثر عن المبادرة: يفتح كل كتاب بابًا جديدًا نحو العالم ويثري المعرفة.</p>
                                <p>بإمكانك استبدال كتابك بكتاب آخر دون مقابل إذا تحققت تلك الشروط:</p>
                                <ul>
                                    <li>أن يكون الكتاب المراد استبداله غير تالف</li>
                                    <li>من خلال المنصة الرقمية للمعرض.</li>
                                    <li>من خلال زيارتك للمعرض</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-md-4 col-l-6 animate-img mt-5">
            <img class="rounded-3" src="assets/images/donation.png" alt="explain" width="100%" height="70%">
        </div>
    </div>
</div>






<!-- Button Section -->
<div class="container-fluid description">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <a routerLink="/donate-books" class="btn btn-danger rounded-pill fw-bold w-50 p-3" role="button">تبرع الان</a>
        </div>
    </div>
</div>

<!-- Explanation of Book Fair -->
<div class="container-fluid description" id="section2">
    <div class="row m-3 p-3">

        <div class="col-md-4 col-l-6 animate-img mt-5">
            <img class="rounded-3" src="assets/images/donation2.jpeg" alt="explain" width="100%" height="70%">
        </div>

        <div class="col-md-8 col-l-6 d-flex justify-content-end align-items-center animate-text">
            <div class="row">
                <!-- Ticket Information Section -->
                <section class="ticket-info-section m-5" dir="rtl">
                    <div class="container-fluid m-5">
                        <div class="row">
                            <div class="col-md-12 m-0 ">
                                <h2>استفد من فرصة المعرض لتجديد مكتبتك الشخصية وتثريتها بكتب جديدة عبر التبرع واستبدال الكتب</h2>
                                <p>"في هذه الفترة المميزة، لنجعل القراءة تجربة مجتمعية ممتعة، حيث يمكنكم المساهمة في تبادل الكتب ونشر ثقافة العطاء والمعرفة خلال فعاليات المعرض وما بعده."

                                    "لنمد يد العون والتضامن، ونجعل الكتب تكون جسراً للتواصل والتبادل بين الأفراد والمجتمعات، حيث يمكنكم بسهولة التبرع بكتبكم القديمة واستبدالها بأخرى تفيد الآخرين وتستفيدون منها أنتم أيضاً."</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>