<div class="container">
  <div class="row d-flex justify-content-end  mb-5">
    <div class="col-lg-6 mt-5">
      <img src="assets/images/register.png" alt="" class="w-100 g-5 mt-5">
    </div>
    <div class="col-lg-6">
      <form (ngSubmit)="handleRegister(registerForm)" [formGroup]="registerForm" class="form" dir="rtl">
        <h1 class="d-flex justify-content-center">انشاء حساب</h1>




<!-- Profile Image Field -->
<div class="avatar-upload">
  <div class="avatar-edit inputForm">
    <input type="file" id="imageUpload" (change)="onFileChange($event)" class="btn-file" />
    <label for="imageUpload"></label>
  </div>
  <div class="avatar-preview">
    <div id="imagePreview" [ngStyle]="{'background-image': 'url(' + imagePreviewUrl + ')'}">
    </div>
  </div>
</div>
<div *ngIf="registerForm.get('profileImage')?.errors && registerForm.get('profileImage')?.touched" class="text-danger">
  <span *ngIf="registerForm.get('profileImage')?.getError('required')">
    ⚠️  ضع صورة
  </span>
</div>



        <div class="flex-column">
          <label> الاسم الاول</label>
        </div>
        <div class="inputForm">
          <input formControlName="Fullname" placeholder="أدخل اسمك" class="input" type="text" />
        </div>
        <div *ngIf="registerForm.get('Fullname')?.errors && registerForm.get('Fullname')?.touched" class="text-danger">
          <span *ngIf="registerForm.get('Fullname')?.getError('minlength')">
            ⚠️ يجب ألا يقل الاسم الاول عن 3 أحرف
          </span>
          <span *ngIf="registerForm.get('Fullname')?.getError('required')">
            ⚠️ الاسم الاول مطلوب
          </span>
        </div>

        <!-- Name Field -->
        <div class="flex-column">
          <label>الاسم الثاني</label>
        </div>
        <div class="inputForm">
          <input formControlName="username" placeholder="أدخل اسمك" class="input" type="text" />
        </div>
        <div *ngIf="registerForm.get('username')?.errors && registerForm.get('username')?.touched" class="text-danger">
          <span *ngIf="registerForm.get('username')?.getError('minlength')">
            ⚠️ يجب ألا يقل الاسم الثاتي عن 3 أحرف
          </span>
          <span *ngIf="registerForm.get('username')?.getError('required')">
            ⚠️ الاسم الثاني مطلوب
          </span>
        </div>

        <div class="flex-column">
          <label>موقعك</label>
        </div>
        <div class="inputForm">
          <input formControlName="location" placeholder="أدخل موقعك" class="input" type="text" />
        </div>
        <div *ngIf="registerForm.get('location')?.errors && registerForm.get('location')?.touched" class="text-danger">
          
          <span *ngIf="registerForm.get('location')?.getError('required')">
            ⚠️  الموقع مطلوب
          </span>
        </div>



          <!-- bio Field -->
        <div class="flex-column">
          <label>نبذة عنك</label>
        </div>
        <div class="inputForm">
          <input formControlName="bio" placeholder="أدخل اسمك" class="input" type="text" />
        </div>
        <div *ngIf="registerForm.get('bio')?.errors && registerForm.get('bio')?.touched" class="text-danger">
          
          <span *ngIf="registerForm.get('bio')?.getError('required')">
            ⚠️   اضف معلومات عنك
          </span>
        </div>

        <!-- Email Field -->
        <div class="flex-column">
          <label>البريد الالكتروني</label>
        </div>
        <div class="inputForm">
          <input formControlName="email" placeholder="أدخل بريدك الالكتروني" class="input" type="text" />
        </div>
        <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="text-danger">
          <span *ngIf="registerForm.get('email')?.getError('required')">
            ⚠️ البريد الالكتروني مطلوب
          </span>
          <span *ngIf="registerForm.get('email')?.getError('email')">
            ⚠️ البريد الالكتروني غير صحيح
          </span>
        </div>

        <!-- Password Field -->
        <div class="flex-column">
          <label>كلمة السر</label>
        </div>
        <div class="inputForm">
          <input formControlName="password" placeholder="أدخل كلمة السر" class="input" type="password" />
        </div>
        <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="text-danger">
          <span *ngIf="registerForm.get('password')?.getError('pattern')">
            ⚠️ يجب أن تكون كلمة السر على الأقل 8 أحرف، تحتوي على حرف كبير، حرف صغير ورمز خاص
          </span>
          <span *ngIf="registerForm.get('password')?.getError('required')">
            ⚠️ كلمة السر مطلوبة
          </span>
        </div>

        <!-- Repassword Field -->
        <div class="flex-column">
          <label>تأكيد كلمة السر</label>
        </div>
        <div class="inputForm">
          <input formControlName="confirmPassword" placeholder="أدخل كلمة السر مرة أخرى" class="input" type="password" />
        </div>
        <div *ngIf="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched" class="text-danger">
          <span *ngIf="registerForm.get('confirmPassword')?.getError('repasswordMatch')">
            ⚠️ كلمتان السر غير متطابقتين
          </span>
          <span *ngIf="registerForm.get('confirmPassword')?.getError('required')">
            ⚠️ الحقل مطلوب
          </span>
        </div>

        <!-- Submit Button -->
        <button class="button-submit" [disabled]="registerForm.invalid">سجل دخول</button>

        <!-- Already Have an Account -->
        <p class="p">
          لدي حساب بالفعل
          <span class="span"><a [routerLink]="['/Login']">تسجيل دخول</a></span>
        </p>

      </form>
    </div>
  </div>
</div>
