<div class="container">
  <div class="row d-flex justify-content-end align-items-center mb-5">
    <div class="col-lg-6">
      <img src="assets/images/register.png" alt="" class="w-100 g-5">
    </div>
    <div class="col-lg-6">
      <form (ngSubmit)="handleRegister(registerForm)" [formGroup]="registerForm" class="form" dir="rtl">
        <h1 class="d-flex justify-content-center">انشاء حساب</h1>


        <div class="flex-column">
          <label> الاسم بالكامل</label>
        </div>
        <div class="inputForm">
          <input formControlName="Fullname" placeholder="أدخل اسمك" class="input" type="text" />
        </div>
        <div *ngIf="registerForm.get('Fullname')?.errors && registerForm.get('Fullname')?.touched" class="text-danger">
          <span *ngIf="registerForm.get('Fullname')?.getError('minlength')">
            ⚠️ يجب ألا يقل الاسم بالكامل عن 3 أحرف
          </span>
          <span *ngIf="registerForm.get('Fullname')?.getError('required')">
            ⚠️ الاسم بالكامل مطلوب
          </span>
        </div>



        <!-- Name Field -->
        <div class="flex-column">
          <label>الاسم</label>
        </div>
        <div class="inputForm">
          <input formControlName="username" placeholder="أدخل اسمك" class="input" type="text" />
        </div>
        <div *ngIf="registerForm.get('username')?.errors && registerForm.get('username')?.touched" class="text-danger">
          <span *ngIf="registerForm.get('username')?.getError('minlength')">
            ⚠️ يجب ألا يقل الاسم عن 3 أحرف
          </span>
          <span *ngIf="registerForm.get('username')?.getError('required')">
            ⚠️ الاسم مطلوب
          </span>
        </div>

        <!-- Email Field -->
        <div class="flex-column">
          <label>البريد الالكتروني</label>
        </div>
        <div class="inputForm">
          <input formControlName="email" placeholder="أدخل بريدك الالكتروني" class="input" type="text" />
        </div>
        <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="text-danger">
          <span *ngIf="registerForm.get('email')?.getError('required')">
            ⚠️ البريد الالكتروني مطلوب
          </span>
          <span *ngIf="registerForm.get('email')?.getError('email')">
            ⚠️ البريد الالكتروني غير صحيح
          </span>
        </div>

        <!-- Password Field -->
        <div class="flex-column">
          <label>كلمة السر</label>
        </div>
        <div class="inputForm">
          <input formControlName="password" placeholder="أدخل كلمة السر" class="input" type="password" />
        </div>
        <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="text-danger">
          <span *ngIf="registerForm.get('password')?.getError('pattern')">
            ⚠️ يجب أن تكون كلمة السر على الأقل 8 أحرف، تحتوي على حرف كبير، حرف صغير ورمز خاص
          </span>
          <span *ngIf="registerForm.get('password')?.getError('required')">
            ⚠️ كلمة السر مطلوبة
          </span>
        </div>

        <!-- Repassword Field -->
        <div class="flex-column">
          <label>تأكيد كلمة السر</label>
        </div>
        <div class="inputForm">
          <input formControlName="confirmPassword" placeholder="أدخل كلمة السر مرة أخرى" class="input" type="password" />
        </div>
        <div *ngIf="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched" class="text-danger">
          <span *ngIf="registerForm.get('confirmPassword')?.getError('repasswordMatch')">
            ⚠️ كلمتان السر غير متطابقتين
          </span>
          <span *ngIf="registerForm.get('confirmPassword')?.getError('required')">
            ⚠️ الحقل مطلوب
          </span>
        </div>


        <!-- Submit Button -->
        <button class="button-submit" [disabled]="registerForm.invalid">سجل دخول</button>

        <!-- Already Have an Account -->
        <p class="p">
          لدي حساب بالفعل
          <span class="span"><a [routerLink]="['/Login']">تسجيل دخول</a></span>
        </p>

        <!-- Register with -->
        <p class="p line">سجل بواسطة</p>

        <!-- Google Button -->
        <div class="flex-row">
          <button class="btn google">
            <svg
              xml:space="preserve"
              style="enable-background:new 0 0 512 512;"
              viewBox="0 0 512 512"
              y="0px"
              x="0px"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns="http://www.w3.org/2000/svg"
              id="Layer_1"
              width="20"
              version="1.1"
            >
              <path
                d="M113.47,309.408L95.648,375.94l-65.139,1.378C11.042,341.211,0,299.9,0,256
                c0-42.451,10.324-82.483,28.624-117.732h0.014l57.992,10.632l25.404,57.644c-5.317,15.501-8.215,32.141-8.215,49.456
                C103.821,274.792,107.225,292.797,113.47,309.408z"
                style="fill:#FBBB00;"
              ></path>
              <path
                d="M507.527,208.176C510.467,223.662,512,239.655,512,256c0,18.328-1.927,36.206-5.598,53.451
                c-12.462,58.683-45.025,109.925-90.134,146.187l-0.014-0.014l-73.044-3.727l-10.338-64.535
                c29.932-17.554,53.324-45.025,65.646-77.911h-136.89V208.176h138.887L507.527,208.176L507.527,208.176z"
                style="fill:#518EF8;"
              ></path>
              <path
                d="M416.253,455.624l0.014,0.014C372.396,490.901,316.666,512,256,512
                c-97.491,0-182.252-54.491-225.491-134.681l82.961-67.91c21.619,57.698,77.278,98.771,142.53,98.771
                c28.047,0,54.323-7.582,76.87-20.818L416.253,455.624z"
                style="fill:#28B446;"
              ></path>
              <path
                d="M419.404,58.936l-82.933,67.896c-23.335-14.586-50.919-23.012-80.471-23.012
                c-66.729,0-123.429,42.957-143.965,102.724l-83.397-68.276h-0.014C71.23,56.123,157.06,0,256,0
                C318.115,0,375.068,22.126,419.404,58.936z"
                style="fill:#F14336;"
              ></path>
            </svg>
            Google
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
