* {
	margin: 0;
	padding: 0;
	
}

.circle-img {
    width:400px; 
    height: 400px; 
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.circle-background {
    width: 380px; 
    height: 380px; 
    background-color:#ff751a;
    border-radius: 50%;
    position: absolute;
    top: 30px; 
    left: 15%;
    transform: translateX(1%);
    z-index: 1;
}

.btn-primary {
    background-color: #ff751a;
    border-color:#ff751a;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #ff751a;
    border-color: #ff751a;
}


h1
{
    color:#ff751a;
}
h2 {
    font-size: 24px; 
    line-height: 1.8;
}



img{
    margin-top:55px;

}

.virtual-tour h2 {
    text-align: center;
    margin-bottom: 20px;
}

.virtual-tour-iframe {
    width: 70vw;
    height: 500px; 
    border: none;
    border-radius: 10px;
}

.text-white {
    color: white;
    background-color:#ff751a;
    opacity:0.9;
}

  .counter{
    font-size:50px;
  }

  .container-fluid, .container {
    overflow-x: hidden; /* Prevent horizontal scroll */
}