* {
	margin: 0;
	padding: 0;
	
}

.circle-img {
    width:400px; 
    height: 400px; 
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.circle-background {
    width: 380px; 
    height: 380px; 
    background-color:#ff751a;
    border-radius: 50%;
    position: absolute;
    top: 30px; 
    left: 15%;
    transform: translateX(1%);
    z-index: 1;
}

.btn-primary {
    background-color: #ff751a;
    border-color:#ff751a;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #ff751a;
    border-color: #ff751a;
}


h1
{
    color:#ff751a;
}
h2 {
    font-size: 24px; 
    line-height: 1.8;
}



img{
    margin-top:55px;

}

.virtual-tour h2 {
    text-align: center;
    margin-bottom: 20px;
}


.map
{
    width: 100vw;
    height: 500px; 
    border: none;
    
}
.virtual-tour-iframe {
    width: 70vw;
    height: 500px; 
    border: none;
    border-radius: 10px;
}

.text-white {
    color: white;
    background-color:#ff751a;
    opacity:0.9;
}

  .counter{
    font-size:50px;
  }

  .container-fluid, .container {
    overflow-x: hidden; /* Prevent horizontal scroll */
}

a {
    color: rgba(255, 255, 255, 0.692);
    padding: 10px 15px;
    display: flex;
    justify-content:flex-end ;
    align-items: center;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.397);
    background: rgba(255, 255, 255, 0.068);
    overflow: hidden;
    font-size: 0.9rem;
    font-weight: 600;
   width:22%;
    border-radius: 5px;
    text-decoration:none;
    transition: 0.2s;
    border: 1px solid transparent;
  }
  
  a:hover {
    border-color: rgba(255, 255, 255, 0.623);
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.144),
      rgba(255, 255, 255, 0.247),
      rgba(255, 255, 255, 0.39)
    );
    box-shadow: 0 6px rgba(255, 255, 255, 0.623);
    transform: translateY(-6px);
  }
  
  a:active {
    transform: translateY(2px);
    box-shadow: none;
  }
  