
<!-- Explanation of Book Fair -->
<div class="container-fluid description" id="section2">
    <div class="row p-3">
        <div class="col-md-4 col-l-6 animate-img mt-5 d-flex justify-content-center align-items-center position-relative wow animate__animated animate__fadeInLeft"  data-wow-duration="2s">
            <div class="circle-background"></div>
            <img class="circle-img " src="assets/images/visitors.png" alt="explain">
        </div>
        <div class="col-md-8 col-l-6 d-flex justify-content-end align-items-center animate-text">
            <div class="row">
                <!-- Ticket Information Section -->
                <section class="ticket-info-section m-5 wow animate__animated animate__fadeInRight"  data-wow-duration="2s" dir="rtl">
                    <div class="container-fluid m-5">
                        <div class="row">
                            <div class="col-md-12 col-l-6 m-0">
                                <h1>دليل الزوار</h1>
                                <h2>نوصي بحجز تذكرتك عبر الإنترنت قبل زيارتك ، وبهذه الطريقة ستتخطى أي قوائم انتظار عند الدخول للمعرض</h2>
                             <button (click)="navigateToBooking()" class="btn btn-primary rounded-pill mt-5 p-2 w-75">احجز الان</button>
 
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

  
<div class="container text-center text-white pt-5 pb-3 mt-5 mx-auto rounded-pill">
    <div class="row mb-5">
      <!-- First section -->
      <div class="col-md-4">
       
        <div class="counter" ngxCountAnimation="3808624" duration="3000" highPerformance="true"></div>
        <h2> زائر</h2>
      </div>
      <!-- Second section -->
      <div class="col-md-4">
     
        <div class="counter" ngxCountAnimation="1200" duration="3000"  highPerformance="true"></div>
        <h2>دار النشر</h2>
      </div>
      <!-- Third section -->
      <div class="col-md-4">
        <div class="counter" ngxCountAnimation="5" duration="2000"  highPerformance="true"></div>
        <h2>صالة</h2>
      </div>
    </div>
  </div>





<!-- Virtual Tour Section -->
<div class="container-fluid virtual-tour-section" id="section3">
    <div class="row m-3 p-3">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <section class="virtual-tour m-5">
                <h1 class="text-center">جولة افتراضية</h1>
                <iframe class="virtual-tour-iframe mt-3" src="https://panoraven.com/en/embed/spBcDyWGQ6" frameborder="0" allowfullscreen></iframe>
            </section>
        </div>
    </div>
</div>



<!-- Virtual Tour Section -->
<div class="container-fluid virtual-tour-section" id="section3">
    <div class="row m-3 p-3">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <section class="virtual-tour m-5">
                <h1 class="text-center">الموقع</h1>
                <iframe 
                    class="virtual-tour-iframe mt-3" 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.901295755831!2d31.38403141511211!3d30.01451718188366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583c5d56f22421%3A0x492fa96d046d8955!2z2KfZhNiv2KfYqiDZhdmF2YrZhtmK2Kkg2KfZhNin2YbYp9iv!5e0!3m2!1sen!2seg!4v1683556964563!5m2!1sen!2seg" 
                    frameborder="0" 
                    allowfullscreen 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </section>
        </div>
    </div>
</div>
 



