<div class="container">
  <div class="row mb-5 align-items-center">
    <div class="col-lg-5">
      <img src="assets/images/ticke.png" alt="" class="w-100">
    </div>
    <div class="col-lg-7 mt-5">
      <form class="form w-100" (ngSubmit)="onSubmit()">
        <div class="content">
          <p align="center">أحجز الان</p>
          <div class="inp">
            <label class="form-label mt-3 mb-1">الاسم</label>
            <input placeholder="الاسم" type="text" class="input" [(ngModel)]="formData.name" name="name" required>
            <label class="form-label mt-3 mb-1">رقم الهاتف</label>
            <input placeholder="رقم الهاتف" type="text" class="input" [(ngModel)]="formData.phone" name="phone" required>
            <label class="form-label mt-3 mb-1">عدد التذاكر</label>
            <select class="input select" [(ngModel)]="formData.tickets" name="tickets" (change)="updateTotalPrice()" required>
              <option *ngFor="let option of ticketOptions" [value]="option">{{ option }}</option>
            </select>
            <p class="mt-4">السعر الكلي: {{ formData.totalPrice }}$</p>
          </div>
          <button type="submit">أدفع</button>
        </div>
      </form>
    </div>
  </div>
</div>
