<div class="container main d-flex justify-content-center">
    <div class="row text-white">
        <h1 class="header">الكتاب الاكثر مبيعا لشخصية المعرض السنوية</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="imgBox">
                    <div class="bark"></div>
                    <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1465906318i/30612235.jpg" class="w-100 h-100">
                </div>
                <div class="details">
                    <h4 class="color2 margin mb-5">في ممر الفئران</h4>
                    <p>فلتنم.. فلتنم.. </p>
                    <p>في الصباح سيمر اليوم سريعاً وتخلد للنوم..</p>
                    <p>من جديد</p>
                    <p>ستفعل هذا وتواظب عليه 365 مرة كل عام،</p>
                    <p>ولمدة عشرين عاماً أخرى فقط</p>
                    <p>ثم ينتهي كل شيء</p>
                    <p class="text-right">في ممر الفئران</p>
                    <p class="text-right">أحمد خالد توفيق</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="line-with-text m-5 p-5">
    <div class="line"></div>
    <div class="fw-bold text">شاركنا برأيك</div>
    <div class="line"></div>
</div>

<app-book-reviews-all></app-book-reviews-all>
