
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #00000000;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    border: 3px solid #ff751a;
    width: 100%;
    height: auto; 
    padding:40px;
    margin-top: 100px;
    text-align: right;
  
    }
    
    .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
    margin-bottom: auto;
    }
    
    .form p {
    color: #fff;
    font-weight: bolder;
    text-align: center; 
    
    }
  
    .path {
    fill: #ff751a;
    }
    
    
    .inp {
    margin-left: auto;
    margin-right: auto;
    white-space: 4px;
    width: 100%;
    }
    
    .input + .input {
    margin-left: 0.3em;
    width: 100%; 
   
    }
    
    .input {
    color: #fff;
    height: 2em;
    width: 100%; /* Adjusted width to 100% */
    text-align: end; /* Text align to the end (right) */
    background: #00000000;
    outline: none;
    border: 3px #ff751a solid;
    border-radius: 10px;
    transition: all 0.6s ease;
    text-align: right;
    
    }
    
    label {
    display: flex;
    text-align: end; /* Ensure labels are right-aligned */
    width: 100%;
    float: right;
    }
    
    .input:focus {
    outline: none;
    border: 3px #fff solid;
    }
    
   
    
    .form button {
    margin-left: auto;
    margin-right: auto;
    background-color: #00000000;
    color: #fff;
    width: 8.5em;
    height: 2.3em;
    border: #ff751a 0.2em solid;
    border-radius: 11px;
    transition: all 0.5s ease;
    }
    
    .form button:hover {
    background-color: #ff751a;
    }
    
    option{
    color:black;
    } 
    
  
  .modal-content{
    position: absolute;
    height:2px ;
    width:200px ;
    margin-top: 100px;
    text-align: right;

  }
  .modal-header{
  text-overflow: initial;
  }
  .modal-body img {
    padding: 0;
   position: relative;
    max-width: 200px;
    height:150px;
 
  }

  .modal-dialog{
    height:100px ;
    width: 100px;
  }

  
