<div class="container-fluid mt-5">
  <div class="row">
      <section class="page_404 p-0 m-0">
          <div class="container p-0">
              <div class="row m-0"> 
                 <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center fw-bold "> <!-- Text Column -->
                      <h1 class="text-center">4 0 4</h1> 
                      <h2>OOPS! Page not found</h2>
                      <button routerLink="/home" class="btn btn-danger mt-1">Go Home</button>
                  </div>
                  <div class="col-lg-8 p-0"> <!-- Image Column -->
                      <div class="four_zero_four_bg">
                      </div>
                  </div>
                 
              </div>
          </div>
      </section>
  </div>
</div>
