
<div class="container">
  <div class="row d-flex justify-content-end align-items-center mb-5" >
    <div class="col-lg-6">
      <img src="assets/images/login.png" alt="" class="w-100 mt-5">
    </div>
<div class="col-lg-6">
  <form class="form col-md-12" dir="rtl">
    <div class="flex-column">
      <h1 class=" d-flex justify-content-center">تسجيل الدخول</h1>
      <label>البريد الالكتروني </label>
    </div>
    <div class="inputForm">
     
      <input placeholder="أدخل بريدك الالكتروني" class="input" type="text" />
    </div>
  
    <div class="flex-column">
      <label>كلمة السر </label>
    </div>
    <div class="inputForm">
      
       
       
      <input placeholder="أدخل كلمة السر " class="input" type="password" />
    </div>
  
    <div class="flex-row">
      
      <span class="span">نسيت كلمة المرور؟</span>
    </div>
    <button class="button-submit">سجل دخول</button>
    <p class="p">  ليس لدي حساب <span class="span"> <a [routerLink] ="['/Register']">انشاء حساب</a></span></p>
  </form>
  
</div>
</div>

</div>
   