<div class="title"></div>
<div class="map-container">
    <div class="row">
        <div class="cell cell1" title="دار اقلام عربية للنشر والتوزيع">A67</div>
        <div class="cell cell2" title="دار اقلام عربية للنشر والتوزيع">A67</div>
        <div class="cell cell3" title="حدوتة مصرية">A68</div>
        <div class="cell cell4" title="عالم الأدب للترجمة والنشر / دار الخلود للنشر والتوزيع">A62</div>
        <div class="cell cell6" title="دار حواديت للنشر">B60</div>
        <div class="cell cell7" title="الترجمان">B59</div>
    </div>
    <div class="row">
        <div class="cell cell8" title="دار نادية للنشر والتوزيع">B58</div>
        <div class="cell cell9" title="MK for Publishing and Distribution">B57</div>
        <div class="cell cell10" title="كيانك للنشر والتوزيع">B56</div>
        <div class="cell cell11" title="مجموعة النيل العربية">B55</div>
        <div class="cell cell" title="الولاء للنشر والتوزيع">C71</div>
    </div>
    <div class="row">
        <div class="cell cell12" title="دار الفكر العربي">C72</div>
        <div class="cell cell13" title="مكتبة ابن سينا">C73</div>
        <div class="cell cell14" title="دار الهدى">C74</div>
        <div class="cell cell15" title="مكتبة النهضة المصرية">C75</div>
    </div>
    <div class="row">
        <div class="cell cell16" title="دار الشروق">C76</div>
        <div class="cell cell17" title="دار الهلال">C77</div>
        <div class="cell cell18" title="دار المعارف">C78</div>
        <div class="cell cell19" title="دار الكتب العلمية">C79</div>
        <div class="cell cell20" title="دار العلوم">C80</div>
    </div>
    <div class="row">
        <div class="cell cell21" title="دار الرشاد للنشر والتوزيع">D81</div>
        <div class="cell cell22" title="مكتبة الأسرة">D82</div>
        <div class="cell cell23" title="دار المعرفة">D83</div>
        <div class="cell cell24" title="دار الثقافة">D84</div>
        <div class="cell cell25" title="دار الحكمة">D85</div>
    </div>
    <div class="row">
        <div class="cell cell26" title="دار الأمل">E86</div>
        <div class="cell cell27" title="مكتبة المعارف">E87</div>
        <div class="cell cell28" title="دار البراء">E88</div>
        <div class="cell cell29" title="دار الفجر">E89</div>
        <div class="cell cell30" title="دار النور">E90</div>
    </div>
    <div class="row">
        <div class="cell cell31" title="دار الحكمة للنشر والتوزيع">F91</div>
        <div class="cell cell32" title="مكتبة التوفيق">F92</div>
        <div class="cell cell33" title="دار الوفاء">F93</div>
        <div class="cell cell34" title="دار الأجيال">F94</div>
        <div class="cell cell35" title="دار الأفق">F95</div>
    </div>
    <div class="row">
        <div class="cell cell36" title="دار الندى">G96</div>
        <div class="cell cell37" title="دار الياسمين">G97</div>
        <div class="cell cell38" title="مكتبة الفجر">G98</div>
        <div class="cell cell39" title="دار النسيم">G99</div>
        <div class="cell cell40" title="دار الرياح">G100</div>
    </div>
    <div class="row">
        <div class="cell cell41" title="دار الشمس">H101</div>
        <div class="cell cell42" title="مكتبة النور">H102</div>
        <div class="cell cell43" title="دار الأندلس">H103</div>
        <div class="cell cell44" title="دار الزهراء">H104</div>
        <div class="cell cell45" title="دار السعادة">H105</div>
    </div>
    <div class="row">
        <div class="cell cell46" title="دار الطباعة">I106</div>
        <div class="cell cell47" title="مكتبة النجاح">I107</div>
        <div class="cell cell48" title="دار النهضة">I108</div>
        <div class="cell cell49" title="دار الرسالة">I109</div>
        <div class="cell cell50" title="دار الفيروز">I110</div>
    </div>
    <div class="row">
        <div class="cell cell51" title="دار البيان">J111</div>
        <div class="cell cell52" title="مكتبة الحكمة">J112</div>
        <div class="cell cell53" title="دار الأمل">J113</div>
        <div class="cell cell54" title="دار الأمانة">J114</div>
        <div class="cell cell55" title="دار الهدى">J115</div>
    </div>
    <div class="row">
        <div class="cell cell56" title="دار الإيمان">K116</div>
        <div class="cell cell57" title="مكتبة الرشاد">K117</div>
        <div class="cell cell58" title="دار الفجر الجديد">K118</div>
        <div class="cell cell59" title="دار الجيل">K119</div>
        <div class="cell cell60" title="دار المعرفة الحديثة">K120</div>
    </div>
    <div class="row">
        <div class="cell cell61" title="دار البشير">L121</div>
        <div class="cell cell62" title="مكتبة الروضة">L122</div>
        <div class="cell cell63" title="دار الوفاء العربية">L123</div>
        <div class="cell cell64" title="دار الأمل المصرية">L124</div>
        <div class="cell cell65" title="دار الأمل العربية">L125</div>
    </div>
    <div class="row">
        <div class="cell cell66" title="دار الصفا">M126</div>
        <div class="cell cell67" title="مكتبة الفاروق">M127</div>
        <div class="cell cell68" title="دار النخيل">M128</div>
        <div class="cell cell69" title="دار الهدى">M129</div>
        <div class="cell cell70" title="دار الطليعة">M130</div>
    </div>
    <div class="row">
        <div class="cell cell71" title="دار السلام">N131</div>
        <div class="cell cell72" title="مكتبة الفرقان">N132</div>
        <div class="cell cell73" title="دار الأمل">N133</div>
        <div class="cell cell74" title="دار الأمان">N134</div>
        <div class="cell cell75" title="دار الفكر">N135</div>
    </div>
    <div class="row">
        <div class="cell cell76" title="دار العلم">O136</div>
        <div class="cell cell77" title="مكتبة الأمل">O137</div>
        <div class="cell cell78" title="دار الشرق">O138</div>
        <div class="cell cell79" title="دار المستقبل">O139</div>
        <div class="cell cell80" title="دار النور">O140</div>
    </div>
    <div class="row">
        <div class="cell cell81" title="دار الأدب">P141</div>
        <div class="cell cell82" title="مكتبة النصر">P142</div>
        <div class="cell cell83" title="دار المشرق">P143</div>
        <div class="cell cell84" title="دار التعاون">P144</div>
        <div class="cell cell85" title="دار المنار">P145</div>
    </div>
   
