<body>
    <div class="overflow-hidden">
        <div class="map map-p">
            <div class="container-fluid pt-3 mt-2 pb-5">
                <div class="row">
                    <div class="col">
                        <h3 class="heading-font display-6 fw-bold mb-4 text-secondary lh-1">خريطة المعرض</h3>
                        <p class="map-p"> مقسم المعرض لخمسة صالات </p>
                        <div class="table-responsive">
                            <ul id="myTab" role="tablist" class="nav nav-tabs flex-nowrap">
                                <li role="presentation" class="nav-item">
                                    <button id="secFive-tab" data-bs-toggle="tab" data-bs-target="#secFive-tab-pane"
                                        type="button" role="tab" aria-controls="secFive-tab-pane" aria-selected="true"
                                        class="nav-link fs-5 text-nowrap active">صالة 5</button>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <button id="secFour-tab" data-bs-toggle="tab" data-bs-target="#secFour-tab-pane"
                                        type="button" role="tab" aria-controls="secFour-tab-pane" aria-selected="false"
                                        class="nav-link fs-5 text-nowrap" tabindex="-1">صالة 4</button>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <button id="secThree-tab" data-bs-toggle="tab"
                                        data-bs-target="#secThree-tab-pane" type="button" role="tab"
                                        aria-controls="secThree-tab-pane" aria-selected="false"
                                        class="nav-link fs-5 text-nowrap" tabindex="-1">صالة 3</button>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <button id="secTwo-tab" data-bs-toggle="tab" data-bs-target="#secTwo-tab-pane"
                                        type="button" role="tab" aria-controls="secTwo-tab-pane" aria-selected="false"
                                        class="nav-link fs-5 text-nowrap" tabindex="-1">صالة 2</button>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <button id="secOne-tab" data-bs-toggle="tab" data-bs-target="#secOne-tab-pane"
                                        type="button" role="tab" aria-controls="secOne-tab-pane" aria-selected="false"
                                        class="nav-link fs-5 text-nowrap" tabindex="-1">صالة 1</button>
                                </li>
                            </ul>
                        </div>
                        <div id="myTabContent" class="tab-content text-center">
                            <div id="secFive-tab-pane" role="tabpanel" aria-labelledby="secFive-tab" tabindex="0"
                                class="tab-pane fade show active">
                                <iframe src="https://bookfair.gebo.gov.eg/Drawingkit/57.html" title="Section Five"
                                    width="1000px" height="500px" class="mx-auto"
                                    style="width: 100%;"></iframe>
                            </div>
                            <div id="secFour-tab-pane" role="tabpanel" aria-labelledby="secFour-tab" tabindex="0"
                                class="tab-pane fade">
                                <iframe src="https://bookfair.gebo.gov.eg/Drawingkit/56.html" title="Section Four"
                                    width="1000px" height="1200px" class="mx-auto"
                                    style="width: 100%;"></iframe>
                            </div>
                            <div id="secThree-tab-pane" role="tabpanel" aria-labelledby="secThree-tab" tabindex="0"
                                class="tab-pane fade">
                                <iframe src="https://bookfair.gebo.gov.eg/Drawingkit/55.html" title="Section Three"
                                    width="1000px" height="1200px" class="mx-auto"
                                    style="width: 100%;"></iframe>
                            </div>
                            <div id="secTwo-tab-pane" role="tabpanel" aria-labelledby="secTwo-tab" tabindex="0"
                                class="tab-pane fade">
                                <iframe src="https://bookfair.gebo.gov.eg/Drawingkit/53.html" title="Section Two"
                                    width="1000px" height="1200px" class="mx-auto"
                                    style="width: 100%;"></iframe>
                            </div>
                            <div id="secOne-tab-pane" role="tabpanel" aria-labelledby="secOne-tab" tabindex="0"
                                class="tab-pane fade">
                                <iframe src="https://bookfair.gebo.gov.eg/Drawingkit/52.html" title="Section One"
                                    width="1000px" height="1200px" class="mx-auto"
                                    style="width: 100%;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
