.container {
  margin-top: 20px;
}

.image {
  margin-top: 130px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center; 
  height: 40em;
}

.content {
  margin-top: 150px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image img {
  max-width: 100%;
  border-radius: 8px;
  height: 30em;
  transition: transform 0.3s ease; 
}

.image img:hover {
  animation: scaleImage 0.3s forwards; 
}

@keyframes scaleImage {
  to {
    transform: scale(1.05); 
  }
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 60px; 
  transition: color 0.3s ease; 
}

p {
  font-size: 1.8rem;
  margin-bottom: 50px; 
  transition: color 0.3s ease; 
}

h1:hover,
p:hover {
  animation: changeColor 0.3s forwards; 
}

@keyframes changeColor {
  to {
    color: #ff751a; 
  }
}
