<div class="container d-flex justify-content-center align-items-center" dir="rtl">
  <div class="row">
    <div class="col-lg-4 image d-flex align-items-center">
      <img class="w-100 h-100 rounded-2" [src]="author?.image" alt="Author Image">
    </div>
    <div class="col-lg-6 content">
      <h1>{{ author?.name }}</h1>
      <p><strong>الوصف:</strong> {{ author?.description }}</p>
      <p><strong>عدد الكتب:</strong> {{ author?.numberOfBooks }}</p>
      <div class="book"><strong>الكتب:</strong>
        <ul *ngIf="author?.books?.length; else noBooks">
          <li *ngFor="let book of author?.books">
            <a class="book-link" [routerLink]="['/book-details', book.id]">{{ book.name }}</a>
          </li>
        </ul>
        <ng-template #noBooks>
          <p>هذا المؤلف لا يوجد كتب له تم رفعها علي الموقع حتي الان</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
