<nav class="navbar  navbar-expand-lg navbar-light custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse mt-3 mb-3 " id="navbarSupportedContent">
      <div class="mx-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/Login">تسجيل دخول</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/Register">انشاء حساب</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/MapGuide">خريطة المعرض </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Donation">تبرع بكتبك</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Visitors"> الزوار</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Transports">خطوط المواصلات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Publisher">دور النشر</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Bookstore">متجر الكتب</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/Home">الرئيسية</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  