<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sticky Footer</title>
</head>
<body>
  <div class="content">
   
  </div>

  <footer class="footer text-center bg-black">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg social-link"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg social-link"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg social-link"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg social-link"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg social-link"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin"></i></a>

        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg social-link"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-white p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright: معرض القاهرة الدولي للكتاب
    </div>
    <!-- Copyright -->
  </footer>
</body>
</html>
