<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sticky Footer</title>
</head>
<body>
  

  <footer class="footer text-center bg-black mt-5">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg social-link"
          href="https://www.facebook.com/CairoInternationalBookFair/"
          role="button"
          ><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg social-link"
          href="https://twitter.com/cairobookfair"
          role="button"
          ><i class="fab fa-twitter"></i></a>

         <!-- LinkedIn -->
         <a
         class="btn btn-link btn-floating btn-lg social-link"
         href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Aorganization%3A101433674&keywords=cairo%20international%20book%20fair&origin=RICH_QUERY_SUGGESTION&position=1&searchId=78e920e0-cd04-49c9-9cdd-21ca999177f2&sid=~(x&spellCorrectionEnabled=false"
         role="button"
         ><i class="fab fa-linkedin"></i></a>

        <!-- Official Website -->
        <a
          class="btn btn-link btn-floating btn-lg social-link"
          href="https://cairobookfair.gebo.gov.eg/"
          role="button"
          ><i class="fas fa-globe"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-white p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright: معرض القاهرة الدولي للكتاب
    </div>
    <!-- Copyright -->
  </footer>
</body>
</html>
