body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
 
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  position:relative; 
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 0;
  height: 30vh;
  
}
.social-link {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}
.social-link:hover {
  color: #ff751a;
}
.footer .container {
  padding-top: 20px;
}
.footer .text-white {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.05);
}