<div class="container d-flex justify-content-start align-items-center" dir="rtl">
  <div class="row">
    <div class="col-lg-4 image d-flex align-items-center">
      <img class="w-100 h-100 rounded-2" [src]="book?.imageUrl" alt="Book Image">
    </div>
    <div class="col-lg-6 content">
      <p style="display: none;">{{book?.id}}</p>
      <h1 class="mb-4">{{ book?.bookName }}</h1>
      <p><strong>اسم المؤلف:</strong> {{ book?.authorName }}</p>
      <p><strong>السعر: </strong> {{ book?.price }} جنيه</p>
      <p><strong>صالة:</strong> {{ book?.hallNumber }}</p>
      <p><strong>بلوك:</strong> {{ book?.blockName }}</p>
      <p><strong> سنة النشر:</strong> {{ book?.publishingYear }}</p>
      <p><strong>عدد الصفحات:</strong> {{ book?.pagesNumber}}</p>
      <p><strong>عدد الصفحات:</strong> {{ book?.pagesNumber}}</p>
     
      <a *ngIf="book?.soundBook" [href]="book.soundBook" target="_blank" class="sound-book-link">
        <i class="fas fa-headphones"></i> يمكنك الآن الاستماع إلى الكتاب الصوتي من هنا
      </a>
      <div class="button-group mt-4 mb-5">
        <button class="btn cart-btn" (click)="addToCart(book)">
          <i class="fas fa-shopping-cart"></i> إضافة إلى السلة
        </button>
      </div>
    </div>
  </div>
</div>
