<div class="container" dir="rtl">
    <div class="row mt-4">
        <div class="card2">
            <img class="img " src="https://www.workitdaily.com/media-library/professional-man-creating-an-outstanding-personal-branding-statement.jpg?id=22025730&width=1200&height=600&coordinates=0%2C23%2C0%2C24" alt="">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Clans of Clash</p>
                <span class="span">12 min ago</span>
              </div>
              <p class="p">Xhattmahs is not attacking your base! </p>
            <div>
          </div></div></div>
    </div>
</div>